<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.video.dao.UsersDao" >
  <resultMap id="BaseResultMap" type="com.video.pojo.Users" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="face_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fans_counts" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="follow_counts" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="receive_like_counts" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, username, password, face_image, nickname, fans_counts, follow_counts, receive_like_counts
  </sql>
</mapper>